@model SecurityGroupViewModel
@{
    ViewData["Title"] = "Security Group List";
}

<table class="cstm-table">
    <thead>
        <tr>
            <th>Action</th>
            <th>AliasName</th>
            <th>DisplayName</th>
            <th>Owner</th>
            <th>Admin 1</th>
            <th>Admin 2</th>
            <th>Admin 3</th>
            <th>Mail Address</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.sgList == null || Model.sgList.Count == 0)
        {
            <tr>
                <td class="cstm-text-center" colspan="11">
                    No records found in the system.
                </td>
            </tr>
        }
        else
        {
            @foreach (var sg in Model.sgList)
            {
                <tr>
                    <td>@sg.AliasName</td>
                    <td>@sg.DisplayName</td>
                    <td>@sg.OwnerName</td>
                    <td>@sg.Admin1Name</td>
                    <td>@sg.Admin2Name</td>
                    <td>@sg.Admin3Name</td>
                    <td>@sg.PrimaryEmailAddress</td>
                    <td>@sg.TypeDescription</td>
                    <td>@sg.StatusDescription</td>
                    <td>@sg.CreatedDate.ToShortDateString()</td>
                    <td>@sg.ModifiedDate?.ToShortDateString()</td>
                </tr>
            }
        }
    </tbody>
</table>

