@model GroupViewModel
@{
    ViewData["Title"] = "Internal SG List";
}

<table class="cstm-table">
    <thead>
        <tr>
            <th>Action</th>
            <th>AliasName</th>
            <th>DisplayName</th>
            <th>Owner</th>
            <th>Admin 1</th>
            <th>Admin 2</th>
            <th>Admin 3</th>
            <th>Mail Address</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.groupList == null || Model.groupList.Count == 0)
        {
                <tr>
                    <td class="cstm-text-center" colspan="11">
                        No records found in the system.
                    </td>
                </tr>
        }
        else
        {
            @foreach (var group in Model.groupList)
            {
                <tr>
                    <td>@group.SGAliasName</td>
                    <td>@group.SGDisplayName</td>
                    <td>@group.OwnerName</td>
                    <td>@group.Admin1Name</td>
                    <td>@group.Admin2Name</td>
                    <td>@group.Admin3Name</td>
                    <td>@group.MailAddressList</td>
                    <td>@group.Status</td>
                    <td>@group.CreateDate</td>
                    <td>@group.ModifiedDate</td>
                </tr>
            }
        }
    </tbody>
</table>

