@model GroupViewModel
@{
    ViewData["Title"] = "Internal SG List";
}

<table class="table">
    <thead>
        <tr>
            <td>Action</td>
            <td>Alias Name</td>
            <td>Display Name</td>
            <td>Owner</td>
            <td>Admin 1</td>
            <td>Admin 2</td>
            <td>Admin 3</td>
            <td>Mail Address</td>
            <td>Status</td>
            <td>Created Date</td>
            <td>Modified Date</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.groupList == null || Model.groupList.Count == 0)
        {
                <tr>
                    <td colspan="11">
                        No records found in the system.
                    </td>
                </tr>
        }
        else
        {
            @foreach (var group in Model.groupList)
            {
                <tr>
                    <td>@group.SGAliasName</td>
                    <td>@group.SGDisplayName</td>
                    <td>@group.OwnerName</td>
                    <td>@group.Admin1Name</td>
                    <td>@group.Admin2Name</td>
                    <td>@group.Admin3Name</td>
                    <td>@group.MailAddressList</td>
                    <td>@group.Status</td>
                    <td>@group.CreateDate</td>
                    <td>@group.ModifiedDate</td>
                </tr>
            }
        }
    </tbody>
</table>

